# Path to AIR SDK
air.sdk = /Applications/Adobe/air20

# Directories of the individual platform projects
# Each platform project must have an ant build script (i.e. 'build.xml')
# That will build the necessary (and only the necessary) files required by the master project
# to {PLATFORM_DIRECTORY}/${output.dir}
ios.dir = ./ios
android.dir = ./android
actionscript.dir = ./actionscript

# Name of output directory where each platform will build their portion
# For example, the iOS platform build will be in ${ios.dir}/${output.dir}
# The ane will be in the output directory in the root folder (i.e. in ./${output_dir})
output.dir = ./bin

output.name = UnityAds.ane
