air.sdk = /Users/karim/Development/AdobeAIRSDK

output.name = UnityAds

## iOS Specific
ios.dir = ./ios
ios.lib.dir = Vendor
# iOS XCode project name (without the .xcodeproj extension)
# Note that the main target for this project must be the same name
ios.project.name = UnityAdsANE
# Note that this output name is dependent on 'extension.xml' *and* the XCode project target
ios.output.name = libUnityAdsANE.a

## Android Specific
android.dir = ./android
android.src.dir = src
android.lib.dir = libs
# Note that this output name is dependent on 'extension.xml'
android.output.name = libUnityAds.jar

## AIR Specific
actionscript.dir = ./actionscript
actionscript.src.dir = src
