# Where any source (.java) files for the ANE will be
src.dir = src

# Where all external files required by the ANE (in platform.xml) are stored
lib.dir = libs

# Note that this output name is dependent on 'extension.xml'
output.name = libUnityAds.jar

# This is where we'll store temporary build files (e.g. .class files)
build.dir = ./build
