# Where all external files required by the ANE (in platform.xml) are stored
lib.dir = Vendor

# iOS XCode project name (without the .xcodeproj extension)
# Note that the main target for this project must be the same name
project.name = UnityAdsANE

# Note that this output name is dependent on 'extension.xml' *and* the XCode project target
output.name = libUnityAdsANE.a

# This is the XCode build directory
build.dir = ./build
